*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 3px solid red;
}

.clear {
  clear: both;
}

.row {
  display: flex;
  flex-direction: column;
}

.is-one {
  flex: 1;
}

.is-four {
  flex: 4;
}

.is-two {
  flex: 2;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.is-flex-four {
  flex-basis: 25%;
  max-width: 25%;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1192px;
  padding: 0;
  margin: 0 auto;
}

.flex-inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

ul {
  padding: 0;
}

.header-container {
  height: 80px;
  background: #ccc;
}

.navbar-container {
  display: flex;
  flex-direction: column;
}

.navbar-container .navbar-primary {
  height: 30px;
  background: #eee;
}

.navbar-primary ul {
  display: block;
}

.navbar-container .navbar-section {
  height: 50px;
  background: rgb(112, 96, 96);
}

.hero-container {
  background: green;
}

.hero-container .cover {
  display: flex;
}

.hero-container .cover .is-four {
  background: rebeccapurple;
}

.hero-container .cover .is-two {
  background: firebrick;
}

.cover .is-two article.cover-story {
  background: greenyellow;
}

.cover .is-two article.cover-story-2 {
  background: red;
}

.hero-container .wrapper {
  max-width: 1192px;
  margin: 0 auto;
  background: firebrick;
  padding: 0 20px;
}

.hero-container .cover {
  height: 60vh;
}

.wrapper .section-container {
  background: grey;
}

.section-container .latest-news {
  display: flex;
  flex-flow: row wrap;
}

.section-container .latest-news .content {
  display: flex;
  flex-direction: column;
}

.latest-news div {
  height: 200px;
}

.latest-news div:nth-child(2n + 1) {
  background: palegreen;
}

.section-container .latest-founding-items {
  display: flex;
  flex-flow: row wrap;
}

.latest-founding-items div {
  min-height: 200px;
}

.latest-founding-items div:nth-child(2n +1) {
  background: olivedrab;
}

.popular .most-popular {
  float: left;
  width: 33.3%;
  background: blue;
  height: 300px;
  margin-bottom: 24px;
}

.popular .most-popular:nth-child(2n+1) {
  background: blueviolet;
}

.section-container .latest-deals {
  display: flex;
  flex-flow: row wrap;
}

.latest-deals div {
  height: 200px;
}

.latest-deals div:nth-child(2n + 1) {
  background: palegreen;
}

.footer {
  background: cadetblue;
}

.footer .media {
  margin-bottom: 15px;
}

.footer-media {
  padding: 3em 0 2em;
}

.footer-details {
  background: chocolate;
  height: 70px;
}

@media (max-width: 1600px) {

}

@media (max-width: 1024px) {
  .hero-container .cover .is-one h2 {
    font-size: 23px;
  }

  .is-flex-four {
    flex-basis: 33.3%;
    max-width: 33.33%;
  }
}

@media (max-width: 818px) {
  .navbar-container .navbar-primary .hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-primary,
  .navbar-section {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .header-container {
    height: 45px;
  }

  .hero-container .cover {
    flex-direction: column;
    height: 715px;
  }

  .hero-container .cover article.is-four {
    flex-basis: 245px;
  }

  .hero-container .cover article.is-one {
    flex-basis: 245px;
  }

  .is-flex-four {
    flex-basis: 100%;
    max-width: 100%;
  }

  .section-container .latest-news .content {
    display: flex;
    flex-direction: row;
  }

  .section-container .latest-news .content .img {
    flex: 1;
    background: royalblue;
  }

  .section-container .latest-news .content .info {
    flex: 5;
    background: orangered;
  }
}
